@import "tailwindcss";

:root {
}

@theme inline {
  --color-brand-green: #1a3c34;
  --color-brand-sand: #d4b996;
  --color-brand-cream: #f4f1ea;
  --font-serif: "Playfair Display", serif;
}

body {
}
